@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Kontakt";
}
@section featured {

    
    <section id="intro" class="intro">
        <div class="intro-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
                            <h2 class="h-ultra">AS APOTEKA</h2>
                        </div>
                        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.1s">
                            <h4 class="h-light"></h4>
                        </div>
                        <div class="wow fadeInRight" data-wow-delay="0.1s">

                            <ul class="lead-list">
                                <li> <span class="list"><strong>Adresa</strong><br />Aleja Zdravlja A303, Sarajevo, Bosna i Hercegovina 71 000</span></li>
                                <li>
                                    <span class="list">
                                        <strong>E-mail</strong><br /> hello@as-apoteka.com
                                    </span>
                                </li>
                                <li>
                                    <span class="list"><strong>Telefon</strong><br />+387 033 444 777</span>
                                </li>
                            </ul>
                            <p class="text-right wow bounceIn" data-wow-delay="0.4s">
                                <a href="#" class="btn btn-skin btn-lg">Kontakt<i class="fa fa-angle-right"></i></a>
                            </p>
                        </div>

                    </div>


                    <h3></h3>
                    <hr class="soft" />

                    <div class="row">
                        <div class="span4">
                            <div class="well">
                                <h5>CREATE YOUR ACCOUNT</h5><br />
                                Enter your e-mail address to create an account.<br /><br /><br />
                                <form action="register.html">
                                    <div class="control-group">
                                        <label class="control-label" for="inputEmail0">E-mail address</label>
                                        <div class="controls">
                                            <input class="span3" type="text" id="inputEmail0" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="controls">
                                        <button type="submit" class="btn block">Create Your Account</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="span1"> &nbsp;</div>
                        <div class="span4">
                            <div class="well">
                                <h5>ALREADY REGISTERED ?</h5>
                                <form>
                                    <div class="control-group">
                                        <label class="control-label" for="inputEmail1">Email</label>
                                        <div class="controls">
                                            <input class="span3" type="text" id="inputEmail1" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="inputPassword1">Password</label>
                                        <div class="controls">
                                            <input type="password" class="span3" id="inputPassword1" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <button type="submit" class="btn">Sign in</button> <a href="forgetpass.html">Forget password?</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    </section>
}