@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Kozmetika";
}
@section featured {
    



    <!-- Section: pricing -->
    <section id="pricing" class="home-section bg-gray paddingbot-60">
        <div class="container marginbot-50">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow lightSpeedIn" data-wow-delay="0.1s">
                        <div class="section-heading text-center">
                            <h2 class="h-bold">Kozmetika</h2>
                            <p></p>
                        </div>
                    </div>
                    <div class="divider-short"></div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row">

                <div class="col-sm-4 pricing-box">
                    <div class="wow bounceInUp" data-wow-delay="0.1s">
                        <div class="pricing-content general">
                            <h2>Paket zdravlja Fit 1</h2>
                            <h3>33<sup>.99KM</sup> </h3>
                            <ul>
                                <li>Skeyndor Paket Power Retinol/Suha koža<i class="fa fa-check icon-success"></i></li>
                                <li>Skeyndor Paket Power Retinol/Mješovita koža<i class="fa fa-check icon-success"></i></li>
                                <li>Skeyndor Paket Power C/ Mješovita koža<i class="fa fa-check icon-success"></i></li>
                                <li><del>Skeyndor paket Power C/ Suha koža</del> <i class="fa fa-times icon-danger"></i></li>
                            </ul>

                            <div class="price-bottom">
                                <a href="#" class="btn btn-skin btn-lg">Kupovina</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 pricing-box featured-price">
                    <div class="wow bounceInUp" data-wow-delay="0.3s">
                        <div class="pricing-content featured">
                            <h2>Zlatni paket zdravlja</h2>
                            <h3>66<sup>.99KM</sup> </h3>
                            <ul>
                                <li>Aktival Beta glukan Forte 500mg+Vitamin C kapsule 60 kom<i class="fa fa-check icon-success"></i></li>
                                <li>Aktival Beta glukan Forte 500mg+Vitamin C kapsule 90 kom.<i class="fa fa-check icon-success"></i></li>
                                <li>Api Magnevit 375mg šumeće tablete 20 kom<i class="fa fa-check icon-success"></i></li>
                                <li>ChildLife Cod liver oil 237ml (ulje jetre bakalara)<i class="fa fa-check icon-success"></i></li>
                                <li>Bios line Enerplus Noni ampule 12 kom.<i class="fa fa-check icon-success"></i></li>
                            </ul>

                            <div class="price-bottom">
                                <a href="#" class="btn btn-skin btn-lg">Kupovina</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 pricing-box">
                    <div class="wow bounceInUp" data-wow-delay="0.2s">
                        <div class="pricing-content general last">
                            <h2>Paket zdravlja Fit 2</h2>
                            <h3>44<sup>.99KM</sup></h3>
                            <ul>
                                <li>Skeyndor Paket Global Lift/ Mješovita koža<i class="fa fa-check icon-success"></i></li>
                                <li>Skeyndor Paket Power Hyaluronic/ Normalna do mješovita koža<i class="fa fa-check icon-success"></i></li>
                                <li>Dermalogica Skin Health Heroes paket<i class="fa fa-check icon-success"></i></li>
                                <li><del>Dermalogica Skin Detox set</del> <i class="fa fa-times icon-danger"></i></li>
                            </ul>

                            <div class="price-bottom">
                                <a href="#" class="btn btn-skin btn-lg">Kupovina</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
}
