@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Proizvodi";
}

@section featured {
    

    <!-- Section: intro -->
    <section id="intro" class="intro">
        <div class="intro-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
                            <h2 class="h-ultra">AS APOTEKA</h2>
                        </div>
                        <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.1s">
                            <h4 class="h-light">Izaberite najbolje za vas</h4>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                            <img src="img/photo/5.jpg" class="img-responsive" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- /Section: intro -->
    <!-- Section: works -->
    <section id="facilities" class="home-section paddingbot-60">
        <div class="container marginbot-50">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow fadeInDown" data-wow-delay="0.1s">
                        <div class="section-heading text-center">
                            <h2 class="h-bold">Proizvodi</h2>
                            <p></p>
                        </div>
                    </div>
                    <div class="divider-short"></div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="wow bounceInUp" data-wow-delay="0.2s">
                        <div id="owl-works" class="owl-carousel">
                            <div class="item"><a href="img/photo/slika1.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg"><img src="img/photo/slika1.jpg" class="img-responsive" alt="img"></a></div>
                            <div class="item"><a href="img/photo/slika2.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/2@2x.jpg"><img src="img/photo/slika2.jpg" class="img-responsive " alt="img"></a></div>
                            <div class="item"><a href="img/photo/slika3.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/3@2x.jpg"><img src="img/photo/slika3.jpg" class="img-responsive " alt="img"></a></div>
                            <div class="item"><a href="img/photo/slika4.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/4@2x.jpg"><img src="img/photo/slika4.jpg" class="img-responsive " alt="img"></a></div>
                            <div class="item"><a href="img/photo/slika5.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/5@2x.jpg"><img src="img/photo/slika5.jpg" class="img-responsive " alt="img"></a></div>
                            <div class="item"><a href="img/photo/slika6.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/6@2x.jpg"><img src="img/photo/slika6.jpg" class="img-responsive " alt="img"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Section: works -->
    <!-- Section: pricing -->
    <section id="pricing" class="home-section bg-gray paddingbot-60">
        <div class="container marginbot-50">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow lightSpeedIn" data-wow-delay="0.1s">
                        <div class="section-heading text-center">
                            <h2 class="h-bold">Paketi zdravlja</h2>
                            <p></p>
                        </div>
                    </div>
                    <div class="divider-short"></div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row">

                <div class="col-sm-4 pricing-box">
                    <div class="wow bounceInUp" data-wow-delay="0.1s">
                        <div class="pricing-content general">
                            <h2>Paket zdravlja Fit 1</h2>
                            <h3>33<sup>.99KM</sup> </h3>
                            <ul>
                                <li>Skeyndor Paket Power Retinol/Suha koža<i class="fa fa-check icon-success"></i></li>
                                <li>Skeyndor Paket Power Retinol/Mješovita koža<i class="fa fa-check icon-success"></i></li>
                                <li>Skeyndor Paket Power C/ Mješovita koža<i class="fa fa-check icon-success"></i></li>
                                <li><del>Skeyndor paket Power C/ Suha koža</del> <i class="fa fa-times icon-danger"></i></li>
                            </ul>

                            <div class="price-bottom">
                                <a href="#" class="btn btn-skin btn-lg">Kupovina</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 pricing-box featured-price">
                    <div class="wow bounceInUp" data-wow-delay="0.3s">
                        <div class="pricing-content featured">
                            <h2>Zlatni paket zdravlja</h2>
                            <h3>66<sup>.99KM</sup> </h3>
                            <ul>
                                <li>Aktival Beta glukan Forte 500mg+Vitamin C kapsule 60 kom<i class="fa fa-check icon-success"></i></li>
                                <li>Aktival Beta glukan Forte 500mg+Vitamin C kapsule 90 kom.<i class="fa fa-check icon-success"></i></li>
                                <li>Api Magnevit 375mg šumeće tablete 20 kom<i class="fa fa-check icon-success"></i></li>
                                <li>ChildLife Cod liver oil 237ml (ulje jetre bakalara)<i class="fa fa-check icon-success"></i></li>
                                <li>Bios line Enerplus Noni ampule 12 kom.<i class="fa fa-check icon-success"></i></li>
                            </ul>

                            <div class="price-bottom">
                                <a href="#" class="btn btn-skin btn-lg">Kupovina</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 pricing-box">
                    <div class="wow bounceInUp" data-wow-delay="0.2s">
                        <div class="pricing-content general last">
                            <h2>Paket zdravlja Fit 2</h2>
                            <h3>44<sup>.99KM</sup></h3>
                            <ul>
                                <li>Skeyndor Paket Global Lift/ Mješovita koža<i class="fa fa-check icon-success"></i></li>
                                <li>Skeyndor Paket Power Hyaluronic/ Normalna do mješovita koža<i class="fa fa-check icon-success"></i></li>
                                <li>Dermalogica Skin Health Heroes paket<i class="fa fa-check icon-success"></i></li>
                                <li><del>Dermalogica Skin Detox set</del> <i class="fa fa-times icon-danger"></i></li>
                            </ul>

                            <div class="price-bottom">
                                <a href="#" class="btn btn-skin btn-lg">Kupovina</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
}